{% load static %}

<head>
    <title>{% block title %}Akaflieg Bibliothek{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'biblio/style.css'%}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
    {% block extrahead %}{% endblock %}
</head>

<body>
    <div class="w3-container w3-teal">
        <h1 class="w3-third"><a href="/" style="text-decoration:none">Akaflieg Bibliothek</a></h1>
        <div class="w3-rest w3-container w3-round">
            <form style="margin-top:20px; text-align:right" action="" method="get" accept-charset="utf-8">
                <input style="width:50%" type="text" name="q" id="q" value="">
                <input class="w3-button" type="submit" value="Suchen" />
            </form>
        </div>
    </div> 
    <div class="w3-bar-block">
        {% block navigation %}
        {% endblock %}
    </div>
    
    <div class="w3-container">
        <div class="w3-container">
        {% block content %}{% endblock %}
        </div>
    </div>

    <div class="w3-container w3-teal">
    </div> 
</body>
