{% extends "biblio/base.html" %}

{% load stable_get %}
{% load static %}


{% block extrahead %}

<script>

function sort(sorting) {
    hiddeninput = document.getElementById('sort')
    if (hiddeninput.value == sorting){
        sorting = '-' + sorting
    }

    hiddeninput.value = sorting

    theform = document.getElementById('theform')
    theform.submit()
}

function add_tag(tag) {
    hiddeninput = document.getElementById('tags')
    hiddeninput.value += ","+tag
    theform = document.getElementById('theform')
    theform.submit()
}

function remove_tag(tag) {
    hiddeninput = document.getElementById('tags')
    tags = hiddeninput.value.split(',')
    hiddeninput.value = tags.filter(function(value, index, arr){
        return value!=tag
    }).join(',')

    theform.submit()
}

</script>

{% endblock %}

{% block content %}
{% if not page_obj %}
<div class="w3-panel w3-red">
    <h3>
        Keine Ergebnisse gefunden. :(
    </h3>
</div>
{% else %}
<table class="w3-table-all w3-hoverable" style="table-layout: fixed">
    <tr>
        <th onclick="sort('title')" class="sort-link {% select_sort_class "title" %}" style="width: 65%" >
        Titel 
        </th>
        <th>Autoren</th>
        <th onclick="sort('year')" class="sort-link {% select_sort_class "year" %}">Jahr</th>
        <th>Tags</th>
    </tr>

    {% for entry in page_obj %}
        <tr>
            <td><a href="/{{ entry.id }}">{{ entry.title }}</a></td>
            <td>{{ entry.authors.all|join:", " }}</td>
            <td>{{ entry.year }}</td>
            
            <td>{% for tag in entry.tags.all %}
                    {% if tag.name in taglist %}
                        <span onclick="remove_tag('{{tag}}')" class="tag-link w3-tag w3-small w3-round w3-theme-d5">{{tag}}</span>
                    {% else %}
                        <span onclick="add_tag('{{tag}}')" class="tag-link w3-tag w3-small w3-round w3-theme-l1">{{tag}}</span>
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
</table>
<div class="w3-container w3-center">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?{% stable_get page=1 %}">&laquo; first</a>
            <a href="?{% stable_get page=page_obj.previous_page_number %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?{% stable_get page=page_obj.next_page_number %}">next</a>
            <a href="?{% stable_get page=page_obj.paginator.num_pages %}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endif %}
{% endblock %}