{% extends "biblio/base.html" %}

{% load static %}

{% block extrahead %}
    <script src="https://unpkg.com/feather-icons"></script>
{% endblock %}

{% block title %}
{% if data %}
    Akaflieg Bibliothek - Eintrag {{data.id}} 
{% else %}
    Akaflieg Bibliothek
{% endif %}
{% endblock %}

{% block content %}
    <h2>
    {{data.title}}
    </h2>
    <p> {{ data.authors|join:", "}} </p>

    <ul class="w3-ul w3-card-4">
        {% for copy  in data.copies %}
        <li style="margin:1em">
        {% ifequal copy.get_copy_type_label "PDF" %}
            <a href="{{copy.file.url}}">
                <div class="w3-panel w3-cell">
                    <i data-feather="download"></i>
                </div>
                <div class="w3-cell">
                    <span class="w3-large">{{copy.file.name}}</span><br>
                    <span>({{copy.file.size}} byte)</span>            
                </div>
            </a>
        {% endifequal %}
        {% ifequal copy.get_copy_type_label "REAL" %}
            <div class="w3-panel w3-cell">
                <i data-feather="book"></i>
            </div>
            <div class="w3-cell">
                {{copy.location}}
            </div>
        {% endifequal %}
        {% ifequal copy.get_copy_type_label "SOFTWARE" %}
            <div class="w3-panel w3-cell">
                <i data-feather="disc"></i>
            </div>
            <div class="w3-cell">
                {{copy.location}}
            </div>
        {% endifequal %}
    </li> 
    
    {% endfor %}
    </ul>
    <script>
        feather.replace()
    </script>
   
{% endblock %}
