{% extends "biblio/base.html" %}

{% load static %}

{% block extrahead %}
{% endblock %}

{% block content %}
<table class="w3-table-all w3-hoverable">
    <tr>
        <th>Titel</th>
        <th>Autoren</th>
        <th>Jahr</th>
        <th>Tags</th>
    </tr>
    {% for entry in entries %}
        <div>
            <tr>
                <td><a href="/{{ entry.id }}">{{ entry.title }}</a></td>
                <td>{{ entry.authors }}</td>
                <td>{{ entry.year }}</td>
                <td>{{ entry.tags }}</td>
            </tr>
        </div>
    {% endfor %}
</div>

{% endblock %}
